@charset "UTF-8";
/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #FC7B70;
    margin: 0 auto;
}
.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding-top:40px;
    text-align: center;
}
.top-top-title{
	font-size: 50px;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: center;
	font-weight: 400;
	/* border-bottom:10px solid #D7DADB; */
	padding-bottom:22px;
    color: #FC7B70;
}
/* .container > header h1 {
	font-size: 50px;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: center;
	font-weight: 400;
	border-bottom:10px solid #D7DADB;
	padding-bottom:22px;
    color: #FC7B70;

} */
.feed-box{
    margin: 0 auto;
    border: 7px dashed #D7DADB;
    padding-top: 5%;
}
.top{
    border: 1px solid yellow;
}
.writer{
    font-size: 30px;
    text-align: left;
    color: #FC7B70;
    font-weight:bold;

    
}
.icon{
    height: 50px;
    width: 50px;
    float: right;
    padding: 10px;
    margin: auto;
}
.feed-img{
    /* width: 600px; */
    width: 100%;
    height:400px;
    /* border: 1px solid #D7DADB; */
    display: block;
    margin: auto;
    padding-top: 5px;
}
.heart-location{
    display:block;
    margin: auto;
    padding: 15px;
    
}
.heart{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    float: left;
}
 /* Favorites Demo 3 */
.heart-3 {
  -webkit-transform-origin: center;
  stroke-dasharray: 135;
  
}

.active .heart-3 {
  -webkit-animation: draw-heart-3 2s forwards;
  stroke: #ec6d46;
}

@keyframes draw-heart-3 {
  0% {
    stroke-dashoffset: -135;
    transform: scale(.2) rotate(-280deg);
  }
  30% {
    stroke-dashoffset: 135;
    transform: scale(.4) rotate(280deg);
  }
  60% {
    stroke-dashoffset: -135;
     transform: scale(.6);
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #ec6d46;
  }
}
.content{
    border: 2px solid #D7DADB;
    margin-bottom: 100px;
}
.text1{
    height: auto;
    background-color: #D7DADB;
    border-radius: 20px;
    text-align: left;
    font-size: 20px;
	margin: auto;
    font-weight: 400;
    line-height: 50px;
    margin-top: 20px;
}
.text2{
    height: 80px;
    background-color: #D7DADB;
    border-radius: 20px;
    text-align: left;
    font-size: 20px;
	margin: auto;
    font-weight: 400;
    line-height: 50px;
    margin-top: 20px;
}
.text3{
    height: 120px;
    background-color: #D7DADB;
    border-radius: 20px;
    text-align: left;
    font-size: 20px;
	margin: auto;
    font-weight: 400;
    line-height: 50px;
    margin: 20px 0 20px 0;
}
