<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cc.mapper.PaymentItemMapper"> <!-- 인터페이스위치 -->

<!-- 회원가입 -->
	<select id="getList" resultType="org.cc.domain.PaymentItemVO">
	    select * from paymentItem;
    </select>
</mapper>